# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db

# Virtual environment
.venv/

# Data
# data/raw/
# data/interim/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

node_modules/
.env
.vscode/